<launch>

    <node pkg="rosserial_python" type="serial_node.py" name="serial_node_0">
      <param name="port" value="/dev/ttyACM0" />
      <param name="name" value="stm1" />
    </node>

    <node pkg="rosserial_python" type="serial_node.py" name="serial_node_1">
      <param name="port" value="/dev/ttyACM1" />
      <param name="name" value="stm2" />
    </node>

    <node pkg="rosserial_python" type="serial_node.py" name="serial_node_2">
      <param name="port" value="/dev/ttyACM2" />
      <param name="name" value="stm3" />
    </node>


  
    <node pkg="manual" type="website_control.py" name="website_control">
    </node>
    
    <!-- Launch Dead_reckoning script-->
    <node name="dead_reck" pkg="odom" type="dead_reckoning_script.py" output="screen">
    </node>
  
  </launch>
